body {
  margin: 0;
}
video {
  width: 100%;
  height: 700px;
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.inner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  font-family: "911 Porscha", sans-serif;
  color: whitesmoke;
  font-size: 6em;
}
h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: "911 Porscha", sans-serif;
  color: whitesmoke;
  margin: 0; /* Avoid extra space around the h2 */
  padding: 10px; /* Adjust as needed */
}
a {
  text-decoration: none;
  color: whitesmoke;
}
h2:hover {
  background-color: transparent;
  transition: background-color 0.3s ease;
}
a:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Slightly white and transparent */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  border-radius: 10px; /* Optional: Rounded edges for the hover effect */
}

.porschenostiky {
  background-color: #333;
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 10px; /* Add padding for the container */
  position: sticky; /* Makes the element sticky */
  top: 0; /* The distance from the top of the viewport */
  z-index: 1000; /* Ensures it stays above other content */
}
