body {
  margin: 0;
  width: 100%;
}
video {
  width: 100%;
  height: 700px;
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.inner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  font-family: "911 Porscha", sans-serif;
  color: whitesmoke;
  font-size: 6em;
}
h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: "911 Porscha", sans-serif;
  color: whitesmoke;
  margin: 0; /* Avoid extra space around the h2 */
  padding: 10px; /* Adjust as needed */
}
a {
  text-decoration: none;
  color: whitesmoke;
}
h2:hover {
  background-color: transparent;
  transition: background-color 0.3s ease;
}
a:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Slightly white and transparent */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  border-radius: 10px; /* Optional: Rounded edges for the hover effect */
}

.porschenostiky {
  background-color: #333;
  display: block;
  width: 99.2%;
  padding: 10px; /* Add padding for the container */
  position: sticky; /* Makes the element sticky */
  top: 0; /* The distance from the top of the viewport */
  z-index: 1000; /* Ensures it stays above other content */
}
#cars {
  font-family: "911 Porscha", sans-serif;
  font-size: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px; /* Space between each car box */
}

.autobox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #333; /* Consistent border for each car box */
  padding: 10px;
  max-width: 450px; /* Optional: Ensure consistent box size */
  background-color: #f9f9f9;
}

.autobox2 img {
  max-width: 100%;
  height: auto;
  height: 600px;
  width: 450px;
  border: 2px solid #ccc; /* Image border */
  margin-bottom: 10px; /* Space between image and text */
}

.autobox2 p {
  margin: 0;
  padding: 5px;
  background-color: #fff;
  border-top: 2px solid #333;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in width */
}
h3 {
  display: block;
  font-size: 3em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  text-align: center;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  width: 100%;
}
